body{
    margin:0px;
    padding: 0px;
}
.main_container{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
}
.container{
    margin: auto;
    transition: height 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

img{
    display: block;
    margin: auto;
    position: relative;
    top: 130px;
    -webkit-animation: shaketext 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
}

@-webkit-keyframes shaketext {
	
	10% { -webkit-transform:  rotate(-3deg); }
	20% { -webkit-transform:  rotate(3deg); }
	30% { -webkit-transform:  rotate(-3deg); }
	40% { -webkit-transform:  rotate(3deg); }
	50% { -webkit-transform:  rotate(-3deg); }
	60% { -webkit-transform:  rotate(3deg); }
	70% { -webkit-transform:  rotate(-3deg); }
	80% { -webkit-transform:  rotate(3deg); }
	90% { -webkit-transform:  rotate(-3deg); }
	100% { -webkit-transform:  rotate(3deg); }
    
}

@media screen and (orientation: portrait)
{
    .container{
        width: 320px;
        height: 480px;
    }
    #overlay{
        height: 480px;
        width: 320px;
        background-size: cover;
    }

    #background{
        height: 480px;
        width: 320px;
        background-size: cover;
    }
    @media screen and (min-width: 768px){
        .container{
            width: 520px;
            height: 780px;
        }
        #overlay{
            width: 520px;
            height: 780px;
        }
        #background{
            width: 520px;
            height: 780px;
        }
        img{
            width: 35%;
            top: 225px;
        }
    }   
}
@media screen and (orientation: landscape)
{
    .container{
        width: 480px;
        height: 320px;
    }
    #overlay{
        width: 480px;
        height: 320px;
        background-size: cover;
    }

    #background{
        width: 480px;
        height: 320px;
        background-size: cover;
    }
    img{
        top: 40px;
    }
    @media screen and (min-width: 1024px){
        .container{
            height: 520px;
            width: 780px;
        }
        #overlay{
            height: 520px;
            width: 780px;
        }
        #background{
            height: 520px;
            width: 780px;
        }
        img{
            width: 20%;
            top: 105px;
        }
    }   
}



