body{
    margin: 0px;
    padding: 0px;
}
.main-container{
    background-color: rgba(0, 145, 234,0.75);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 0;
}
.container{
    width: 320px;
    height: 480px;
    margin: auto;
    transition: height 0.5s;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
}
#header_image{
    display: none;
}
#txt1{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    width: 85%;
    height: 50px;
    margin-top: 7%;
    display: none;
    text-align: center;
    overflow: hidden;
/*
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
*/
}
#txt2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: auto;
    width: 65%;
    margin-top: 12%;
    height: 110px;
    opacity: 0.8;
    display: none;
    overflow: hidden;
    text-align: center;
    display: none;
}
.ctaBtn{
    width: 150px;
    text-align: center;
    left: 85px;
    position: relative;
    margin-top: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 45px;
    border-radius: 0.2em;
    border: none;
    display: none;
}
@media screen and (orientation: portrait) 
{
     @media screen and (min-width: 768px){
         .container{
            width: 550px;
            height: 700px;
        }
         img{
            width: 65%;
            margin: auto;
            position: absolute;
            top: -68px;
            left: 0; right: 0;
        }
         #txt1 {
            margin-top: 26%;
            font-size: 30px;
            font-weight: bold;
            height: 87px;
        }
         #txt2 {
            margin-top: 12%;
            height: 150px;
            font-size: 25px;
        }
         .ctaBtn {
            height: 58px;
            font-size: 19px;
            margin-top: 92px;
            width: 250px;
            left: 150px;
            font-size: 20px;
            border-radius: 0.2em;
        }
    }
}

@media screen and (orientation: landscape) 
{
    .container{
        width: 480px;
        height: 320px;
    }
    img{
        width:50%;
        margin: auto;
        position: absolute;
        left: 0; right: 0;
    }
    #txt1 {
        margin-top: 22%;
            height: 22px;
    }
    #txt2 {
        margin-top: 7%;
    height: 70px;
    }
    .ctaBtn {
        /*width: 40%;
        left: 30%;*/
        width: 170px;
        left: 155px;
        margin-top: 6%;
        height: 38px;
        font-size: 15px;
        border-radius: 0.2em;
    }
    @media screen and (min-width: 1024px){
        .container{
            width: 650px;
            height: 400px;
        }
        img {
            width: 53%;
            top: -67px;
        }
        #txt1 {
            margin-top: 14%;
            font-size: 27px;
            font-weight: bold;
            height: 65px;
        }
        #txt2 {
            margin-top: 4%;
            height: 110px;
            font-size: 22px;
        }
        .ctaBtn {
            height: 48px;
            font-size: 17px;
            margin-top: 5%;
            width: 240px;
            left: 205px;
            border-radius: 0.2em;
        }
    }
}
.Orange,
        .Blue,
        .Maroon,
        .Grayscale,
        .Holo-Border-Grey,
        .Holo-Border-Blue,
        .Holo-Border-Orange,
        .Gradient-1,
        .Gradient-2,
        .Gradient-3{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                    line-height: 42px;
                    font-size: 16px;
                    border: 0px;
        }
        .Orange{
                    color: #2f2f2f;
                    background: #f9b34b;
                    border-bottom: 2px solid #fb916f;
                    -webkit-box-shadow: inset 0 -3px #fb916f;
                    box-shadow: inset 0 -2px #fb916f;
            }
        .Blue{
                    color: #ffffff;
                    background:#005cae;
            }
        .Maroon{
                    color: #ffffff;
                    background:#dc2d2f;
            }
        .Grayscale{
                    color: #ffffff;
                    background: #616161;
                    border-bottom: 2px solid #3b3b3b;
                    -webkit-box-shadow: inset 0 -3px #3b3b3b;
                    box-shadow: inset 0 -2px #3b3b3b;
            }
        .Holo-Border-Grey{
                    color: #2f2f2f;
                    background: transparent;
                    border: 2px solid #ddd;
                    border-radius: 3px;
            }
        .Holo-Border-Blue{
                    color: #2f2f2f;
                    background: transparent;
                    border: 2px solid #32C2E2;
                    border-radius: 3px;
            }
        .Holo-Border-Orange{
                    color: #ff9800;
                    background: transparent;
                    border: 2px solid #f9b34b;
                    border-radius: 3px;
            }
        .Gradient-1{
                    color: #ffffff;
                    background: rgba(109,178,242,1);
background: -moz-linear-gradient(top, rgba(109,178,242,1) 0%, rgba(12,90,173,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(109,178,242,1)), color-stop(100%, rgba(12,90,173,1)));
background: -webkit-linear-gradient(top, rgba(109,178,242,1) 0%, rgba(12,90,173,1) 100%);
background: -o-linear-gradient(top, rgba(109,178,242,1) 0%, rgba(12,90,173,1) 100%);
background: -ms-linear-gradient(top, rgba(109,178,242,1) 0%, rgba(12,90,173,1) 100%);
background: linear-gradient(to bottom, rgba(109,178,242,1) 0%, rgba(12,90,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db2f2', endColorstr='#0c5aad', GradientType=0 );
        }
        .Gradient-2{
                    color: #ffffff;
                    background: rgba(250,164,58,1);
background: -moz-linear-gradient(45deg, rgba(250,164,58,1) 0%, rgba(227,98,0,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(250,164,58,1)), color-stop(100%, rgba(227,98,0,1)));
background: -webkit-linear-gradient(45deg, rgba(250,164,58,1) 0%, rgba(227,98,0,1) 100%);
background: -o-linear-gradient(45deg, rgba(250,164,58,1) 0%, rgba(227,98,0,1) 100%);
background: -ms-linear-gradient(45deg, rgba(250,164,58,1) 0%, rgba(227,98,0,1) 100%);
background: linear-gradient(45deg, rgba(250,164,58,1) 0%, rgba(227,98,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa43a', endColorstr='#e36200', GradientType=1 );
        }
        .Gradient-3{
                    color: #ffffff;
                    background: rgba(173,224,20,1);
background: -moz-linear-gradient(45deg, rgba(173,224,20,1) 0%, rgba(109,209,16,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(173,224,20,1)), color-stop(100%, rgba(109,209,16,1)));
background: -webkit-linear-gradient(45deg, rgba(173,224,20,1) 0%, rgba(109,209,16,1) 100%);
background: -o-linear-gradient(45deg, rgba(173,224,20,1) 0%, rgba(109,209,16,1) 100%);
background: -ms-linear-gradient(45deg, rgba(173,224,20,1) 0%, rgba(109,209,16,1) 100%);
background: linear-gradient(45deg, rgba(173,224,20,1) 0%, rgba(109,209,16,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade014', endColorstr='#6dd110', GradientType=1 );
        }