body{
    margin: 0px;
    overflow: hidden;
}
.scratchcard{
    position: fixed;
    background-size: cover;
    margin-top: 10px; 
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.offer{
    overflow: hidden;
    position: fixed;
    height: 30px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    font-family: arial;
    color: #242333;
    margin: 30px auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.cta{
    position: relative;
    /*height: 45px;*/
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 62px auto;
    opacity: 0;
    line-height: 30px;
    font-family: arial;
    font-size: 24px;
    /*font-weight: 600;*/
    border-radius: 5px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}
a{
    text-decoration: none;
}
.container{
    margin: 0px auto;
}
.main_container{
    height:100vh;
    width:100vw;
    background-size: cover;
}
#logo_img{
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.scratch{
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.promo{
    position: relative;
    height: 30px;
    overflow: hidden;
    width: 66%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-family: arial;
    color: #282828;
    margin-top: 3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.promo2{
    position: absolute;
    height: 30px;
    overflow: hidden;
    text-align: center;
    font-size: 19px;
    line-height: 25px;
    font-family: arial;
    color: #282828;
    margin-top: -8%;
    left: 0;
    right: 0;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}
@media screen and (orientation: portrait) {
    .scratch{
        width: 65%;
    }
    @media screen and (max-width: 350px) {
        #header{
            width: 100%;    
        }
        .cta {
            font-size: 15px;
            height: 27px;
            margin: 14% auto;
            border-radius: 6px;
            line-height: 26px;
            width: 140px;
        }
        #logo_img{
            width: 55%;
            margin-top: 10%;
        }
        .promo2{
            font-size: 16px;
        }
        .offer {
            font-size: 18px;
            margin: 6% auto;
        }
    }
    @media screen and (min-width: 350px) and (max-width: 760px) {
        #header{
            width: 100%;    
        }
        .cta {
            font-size: 17px;
        }
        #logo_img{
            width: 55%;
            margin-top: 15%
        }
    }
    @media screen and (min-width: 760px) {
        .scratchcard {
            margin-top: 3%;
        }
        #header{
            height: 40%;
            width: 100%;
        }
        .offer {
            height: 50px;
            width: 200px;
            font-size: 35px;
            margin: 5% auto;
        }
        .promo{
            height: 40px;
            font-size: 25px;
            width: 55%;
            margin-top: 30px;
        }
        .promo2{
            height: 40px;
            width: 500px;
            font-size: 29px;
            margin-top: -30px;
        }
        .cta {
            position: relative;
            height: 60px;
            width: 35%;
            margin: 12% auto;
            font-size: 27px;
            line-height: 60px;
            border-radius: 10px;
        }
        #logo_img{
            width: 45%;
            margin-top: 4%;
        }
        .scratch{
            width: 50%;
        }
    }
}
@media screen and (orientation: landscape) {
    .ls_container{
            height: 100vh;
            left: 0;
            right: 0;
            margin-right: auto;
            position: absolute;
            top: 0px;
    }
    @media screen and (min-width: 760px) {
        .ls_container{
            width: 60%;
            margin-left: 40%;
        }
        #header{
            background-size: cover;
            height: 100vh;
        }
        #logo_img {
/*            width: 55%;*/
            margin-top: 30%;
            display: block;
        }
        .promo {
            font-size: 18px;
            margin-top: 3%;
            width: 50%;
        }
        .scratchcard{
            position: absolute;
        }
        .scratch{
            width: 45%;
            margin-top: 3%;
        }
        .offer {
            position: relative;
            font-size: 26px;
            margin: 45px auto;
        }
        .promo2 {
            position: relative;
            font-size: 23px;
            margin-top: -5%;
        }
        .cta {
            height: 40px;
            width: 200px;
            margin: -4% auto;
            line-height: 38px;
        }
    }
    @media screen and (max-width: 760px) {
        .ls_container{
            width: 70%;
            margin-left: 30%;
        }
        #header{
            background-size: cover;
            width: 30%;
            height: 100vh;
        }
        #logo_img {
            width: 50%;
            margin-top: 10%;
        }
        .scratchcard{
            position: absolute;
        }
        .scratch{
            width: 50%;
        }
        .offer {
            position: relative;
            font-size: 20px;
            margin: 5% auto;
        }
        .promo2 {
            font-size: 17px;
            margin-top: -6%;
        }
        .cta {
            height: 28px;
            width: 150px;
            margin: -5% auto;
            font-size: 18px;
            line-height: 28px;
        }
    }
}