
body{
 overflow: hidden;
 margin: 0;
}
.main_container{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: rgba(38, 73, 24,0.8);
}
.container{
    margin: auto;
    /*transition: height 1s;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.scratchpad{
  width: 320px;
  height: 480px;
  border: solid 1px;
  float: left;
  margin: 0 auto;
  border: 0px solid;
}
.canvas{
  width: 320px;
  height: 480px;
  float: left;
  margin: 0 auto;
  border: 0px solid;
}
@media screen and (orientation: portrait)
{
    .container{
        width: 320px;
        height: 480px;
    }
    #overlay{
        height: 480px;
        width: 320px;
        background-repeat: no-repeat;
    }
    #background{
        height: 480px;
        width: 320px;
        background-repeat: no-repeat;
    }
    .canvas{
        width: 320px;
        height: 480px;
    }
    @media screen and (min-width: 768px){
        .container{
            width: 520px;
            height: 780px;
        }
        #overlay{
            width: 520px;
            height: 780px;
            background-repeat: no-repeat;
        }
        #background{
            width: 520px;
            height: 780px;
            background-repeat: no-repeat;
        }
        .scratchpad{
            width: 520px;
            height: 780px;
        }
        .canvas{
            width: 520px;
            height: 780px;
        }
    }
}
@media screen and (orientation: landscape)
{

    .container{
        width: 480px;
        height: 320px;
    }
    #overlay{
        width: 480px;
        height: 320px;
        background-repeat: no-repeat;
    }
    #background{
        width: 480px;
        height: 320px;
        background-repeat: no-repeat;
    }
    .scratchpad .canvas{
        width: 480px;
        height: 320px;
    }
    @media screen and (min-width: 1024px){
        .container{
            width: 780px;
            height: 520px;
        }
        #overlay{
            width: 780px;
            height: 520px;
            background-repeat: no-repeat;
        }
        #background{
            width: 780px;
            height: 520px;
            background-repeat: no-repeat;
        }
        .container .scratchpad .canvas{
            width: 780px;
            height: 520px;
        }
    }
}