
#fullpage{
    margin: auto;
}
.section{
    width: 320px;
    height: 480px;
    margin: auto;
}
.scroll-arrow{
	position: fixed;
	bottom: 30px;
	width: 100%;
	animation-name: scrollarrow;
	animation-duration: 1s;
	animation-iteration-count:infinite;

}
/*.section-four{
    height: 400px !important;
}*/
.scroll-arrow img{
    display: block;
    margin: auto;
}
.image_display{
	margin: auto;
	display: block;
}
.background{
	width: 100%;
    position: fixed;
    z-index: -100;
    height: 100%;
    top: 35%;
    background: #ff6801;
    transition: top 1s  ;
    animation-timing-function:ease;
}
@keyframes scrollarrow {
    0% {bottom: 20px;}
    50% {bottom: 10px;}
	100% {bottom: 20px;}
}
