body{
    margin:0px;
    padding: 0px;
}
.main_container{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: rgba(38, 73, 24,0.8);
}
.container{
    margin: auto;
    transition: height 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.resize{
	background-size: contain;
}
.loader {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: url('../../assets/images/ring.gif') 50% 50% no-repeat rgb(249,249,249);
		}

@media screen and (orientation: portrait)
{

    .container{
        width: 320px;
        height: 480px;
    }
    #overlay{
        height: 480px;
        width: 320px;
        background-repeat: no-repeat;
    }
    #background{
        height: 480px;
        width: 320px;
        background-repeat: no-repeat;
    }
    #magazine{
        position: fixed;
        width: 320px;
        height: 480px;
        margin: 0 auto;
    }
/*
    #magazine .page{
        background-size: 320px 480px;
    }
*/
    @media screen and (min-width: 768px){
        .container{
            width: 520px;
            height: 780px;
        }
        #overlay{
            width: 520px;
            height: 780px;
            background-repeat: no-repeat;
        }
        #background{
            width: 520px;
            height: 780px;
            background-repeat: no-repeat;
        }
        #magazine{
            position: fixed;
            width: 520px;
            height: 780px;
            margin: 0 auto;
        }
    }
}
@media screen and (orientation: landscape)
{

    .container{
        width: 480px;
        height: 320px;
    }
    #overlay{
        width: 480px;
        height: 320px;
        background-repeat: no-repeat;
    }
    #background{
        width: 480px;
        height: 320px;
        background-repeat: no-repeat;
    }
    #magazine{
        position: fixed;
        width: 480px;
        height: 320px;
        margin: 0 auto;
    }
/*
    #magazine .page{
        background-size: 320px 480px;
    }
*/
    @media screen and (min-width: 1024px){
        .container{
            width: 780px;
            height: 520px;
        }
        #overlay{
            width: 780px;
            height: 520px;
            background-repeat: no-repeat;
        }
        #background{
            width: 780px;
            height: 520px;
            background-repeat: no-repeat;
        }
        #magazine{
            position: fixed;
            width: 780px;
            height: 520px;
            margin: 0 auto;
        }
    }
}
